.section_cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    overflow: hidden;
    & h2 {
        color: var(--white-smoke);
        font-family: var(--font-family-grotesk);
        position: relative;
        padding: 0.5rem;
    }
}
.section_cont h2::after {
    content: "";
    background: var(--main-color);
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 2rem;
}
.section_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 100%;
    & p {
        color: var(--white-smoke);
        font-family: var(--font-family-grotesk);
        text-align: start;
        width: 400px;
        font-size: 20px;
    }
}

.section_video_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
    padding: 1rem;
    position: relative;
    background-color: transparent;
    height: 300px;
    width: 100%;
    border-radius: 20px;
}
.section_video_cont video {
    border-radius: 25px;
    clip-path: fill-box;
    height: 100%;
}

.section_video_cont::after {
    content: "SmartCode";
    position: absolute;
    font-size: 25px;
    background-color: var(--main-color);
    color: var(--white-smoke);
    padding: 0.5em;
    border-radius: 10px;
    right: 0;
    bottom: 0px;
    z-index: 99998;
    font-family: var(--font-family-grotesk);
    font-weight: 700;
    letter-spacing: 2px;
}
