.translate {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.lngBar {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    gap: 2px;
}
.lngBtn {
    width: 30%;
    border: none;
}
.lngBtn img {
    width: 100%;
    cursor: pointer;
}
.globe {
    display: none;
    justify-content: space-between;
}
option {
    font-size: 10px;
}
select {
    padding: 8px;
    border: none;
    background-color: whitesmoke;
    height: 17px;
    width: 10px;
}
@media (max-width: 1100px) {
    .lngBar{
        display: none;
    }
    .globe {
    display: flex;
    justify-content: space-between;

    }
}
@media (max-width: 620px){
    .globe {
        display: none;
}
}
.burgerLang{
    display: none;
}

@media (max-width: 620px){
    .burgerLang {
        display: inline-block;
}
}