.header_cont {
    display: flex;
    z-index: 99999999999999;
    height: 80px;
    background-color: transparent;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    & a {
        display: flex;
        align-items: center;
        height: 100%;
    }
    & img {
        width: 100%;
        max-height: 100%;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
}
.nav_menu {
    display: flex;
    column-gap: 1rem;
    & a {
        font-family: var(--font-family-grotesk);
        color: aliceblue;
        transition: all 0.4s;
    }
}
.nav_menu a:hover {
    scale: 1.05;
}
.links {
    display: flex;
    column-gap: 0.5em;
    font-size: 15px;
}
.links a {
    color: aliceblue;
}
.scroll_nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #222;
    animation: nav 0.3s;
    display: flex;
    align-items: center;
    height: 50px;
}

@keyframes nav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll_nav_exit {
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    z-index: 99999999999;
    background-color: transparent;
    animation: nav_exit 0.2s;
    top: 0;
}

@keyframes nav_exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
