.wrapper {
    width: 100%;
    height: var(--menuHeight);
    z-index: 999;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.2s;
}

.header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.scrolled {
    background-color: #1e282d;
}

.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;

    & a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    & img {
        width: 100%;
        max-height: 100%;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
}

.nav_menu {
    display: flex;
    column-gap: 1rem;

    & a {
        font-family: var(--font-family-grotesk);
        color: aliceblue;
        transition: all 0.4s;
    }
}

.nav_menu a:hover {
    scale: 1.05;
}

.links {
    display: flex;
    column-gap: 0.5em;
    font-size: 15px;
}

.links a {
    color: aliceblue;
}
