.header_images {
    background-color: var(--main-dark-color);
    border-radius: 12px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.header_images img {
    max-width: 200px;
    object-fit: cover;
    border-radius: 15px;
    -webkit-user-drag: none;
}
.first_image,
.second_image,
.third_image,
.forth_image {
    width: 100%;
    height: 100%;
}
.fivth_image,
.sixth_image {
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.first_image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.second_image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.third_image {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.forth_image {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.forth_image video {
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.fivth_image {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.sixth_image {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

@media (max-width: 980px) {
    .header_images {
        display: none;
    }
    .first_image,
    .second_image,
    .third_image,
    .forth_image,
    .fivth_image,
    .sixth_image {
        display: none;
    }
}
