:root {
    --font-family-poppins: "Poppins", sans-serif;
    --font-family-grotesk: "Space Grotesk", sans-serif;
    --main-color: #f3b01b;
    --white: #f0f8ff;
    --white-smoke: #ddd;
    --main-dark-color: #1e282d;
    --card-color: #98c1d9;
    --dark: #111;
    --title: 25px;
    --menuHeight: 50px;
<<<<<<< HEAD
    --text-color-dark: #111;
=======
    scroll-behavior: smooth;
>>>>>>> 90e28d0ebee2a3c39f3c886beab6aa670614337d
}

::selection {
    background-color: var(--main-color);
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--font-family-poppins);
}
body {
    background-color: #eee;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #121618;
}

.mt-20 {
    margin-top: calc(var(--menuHeight) + 20px);
}

.mx-auto {
    margin-left: auto;
}

.mb-footer {
    margin-bottom: 250px;
}

#app {
    overflow: hidden;
    height: 100vh;
}
