:root {
    --font-family-poppins: "Poppins", sans-serif;
    --font-family-grotesk: "Space Grotesk", sans-serif;
    --main-color: #f3b01b;
    --white: #f0f8ff;
    --white-smoke: #dddddd;
}
::selection {
    background-color: var(--main-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #131313;
}
.container {
    max-width: 1040px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #1e282d;
}

.mt-20 {
    margin-top: 20px;
}

#partners {
    background-color: #263238;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

#partners > h1 {
    margin: 20px 0;
}

#partners > p {
    color: seashell;
    width: 500px;
    margin: auto;
}

h1, p {
    color: white;
}