.fieldset {
    border: 5px double var(--main-color);
    padding: 1rem;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.legend {
    text-align: right;
    padding: 0 0.5em;
    font-family: var(--font-family-grotesk);
    color: var(--white);
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.form_container form input {
    padding: 0.5rem;
    width: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-color);
    text-align: start;
    color: aliceblue;
    font-family: var(--font-family-grotesk);
}

.form_container form input::placeholder {
    text-align: start;
    color: var(--white);
}

.form_container form button {
    border: none;
    background-color: var(--main-color);
    opacity: 0.5;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.form_container form button:hover {
    opacity: 1;
}
